<ul>
    <li><a href="{{ .Site.BaseURL }}über_mich/">Über mich</a></li>
    <li><a href="{{ .Site.BaseURL }}leistungen/">Leistungen</a></li>
    <li class="sub">
      <ul>
        <li><a href="{{ .Site.BaseURL }}leistungen/achtsamkeit/">Achtsamkeit</a></li>
        <li><a href="{{ .Site.BaseURL }}leistungen/coaching/">Coaching</a></li>
        <li><a href="{{ .Site.BaseURL }}leistungen/lebensberatung/">Lebensberatung</a></li>
        <li><a href="{{ .Site.BaseURL }}leistungen/psychotherapie/">Psychotherapie</a></li>
      </ul>
    </li>
    <li><a href="{{ .Site.BaseURL }}abrechnung/">Abrechnung</a></li>
    <li><a href="{{ .Site.BaseURL }}kontakt/">Kontakt</a></li>

    <!-- Alle Seiten
    {{ range .Site.RegularPages }}
    <li><a href="{{ .URL }}">{{ .Title }}</a></li>
    {{ end }}
    -->
</ul>
