<form action="https://formspree.io/berengarLehr@gmail.com" method="POST" role="form">

    <label>
        Name
        <input type="text" id="name" name="name" required placeholder=" " aria-labelledby="name"/>
    </label>

    <label>
        E-Mail
        <input type="text" id="email" email="emailemail" required placeholder=" " aria-labelledby="email"/>
    </label>

    <label>
        Ihre Nachricht
        <textarea id="message" name="message" aria-labelledby="message"></textarea>
    </label>

    <input type="submit" value="Senden" />

</form>
