body {
    margin: 0;
}

header {
    height: 450px;
    background-color: lightgrey;
}
header a {
    display: block;
    height: 100%;
}

nav {
    position: absolute;
    left: 10px;
}

main {
    position: relative;
    top: -61px;
    margin-left: 25%;
    margin-right: 25%;
}

h1 span {
    background-color: white;
    padding: 2px;
}
